<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" 
  xmlns="http://java.sun.com/xml/ns/j2ee" 
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  
  xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" >
	
	<servlet>
		<description>
		</description>
		<display-name>
		WebShopServlet</display-name>
		<servlet-name>WebShopServlet</servlet-name>
		<servlet-class>
		servlet1.WebShopServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		ShoppingCartServlet</display-name>
		<servlet-name>ShoppingCartServlet</servlet-name>
		<servlet-class>
		servlet1.ShoppingCartServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>LoginServlet</display-name>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>servlet1.LoginServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ListUsersServlet</display-name>
		<servlet-name>ListUsersServlet</servlet-name>
		<servlet-class>servlet1.ListUsersServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>DeleteServlet</display-name>
		<servlet-name>DeleteServlet</servlet-name>
		<servlet-class>servlet1.DeleteServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>LogoutServlet</display-name>
		<servlet-name>LogoutServlet</servlet-name>
		<servlet-class>servlet1.LogoutServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>RegisterServlet</display-name>
		<servlet-name>RegisterServlet</servlet-name>
		<servlet-class>servlet1.RegisterServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>SearchItemsServlet</display-name>
		<servlet-name>SearchItemsServlet</servlet-name>
		<servlet-class>servlet1.SearchItemsServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>FindUserServlet</display-name>
		<servlet-name>FindUserServlet</servlet-name>
		<servlet-class>servlet1.FindUserServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>DeleteUserServlet</display-name>
		<servlet-name>DeleteUserServlet</servlet-name>
		<servlet-class>servlet1.DeleteUserServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>InsertUserServlet</display-name>
		<servlet-name>InsertUserServlet</servlet-name>
		<servlet-class>servlet1.InsertUserServlet</servlet-class>
	</servlet>
		
	<servlet-mapping>
		<servlet-name>WebShopServlet</servlet-name>
		<url-pattern>/WebShopServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ShoppingCartServlet</servlet-name>
		<url-pattern>/ShoppingCartServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/LoginServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ListUsersServlet</servlet-name>
		<url-pattern>/ListUsersServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteServlet</servlet-name>
		<url-pattern>/DeleteServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LogoutServlet</servlet-name>
		<url-pattern>/LogoutServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RegisterServlet</servlet-name>
		<url-pattern>/RegisterServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SearchItemsServlet</servlet-name>
		<url-pattern>/SearchItemsServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FindUserServlet</servlet-name>
		<url-pattern>/FindUserServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteUserServlet</servlet-name>
		<url-pattern>/DeleteUserServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>InsertUserServlet</servlet-name>
		<url-pattern>/InsertUserServlet</url-pattern>
	</servlet-mapping>
	
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	


</web-app>

  